html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Actual styles start here */
* {
  font-family: "Julius Sans One", sans-serif;
}

main {
  display: flex;
}
/* LEFT */
.left {
  width: 60vw;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  background-color: lightblue;
}

.top h1,
.top h2 {
  text-align: left;
}

.top h1 {
  font-size: 70px;
  margin: 0;
  letter-spacing: 15px;
  text-shadow: 1px 1px whitesmoke;
  font-weight: 700;
  z-index: 10;
  position: relative;
}

.top h2 {
  margin: 0;
  font-size: 15px;
}

.bottom {
  height: 45vh;
  background: lavenderblush;
  padding: 25px;
}

#tickerSearch {
  border: 1px solid darkgrey;
  width: 150px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
  font-family: "Julius Sans One", sans-serif;
}

#tickerSearch:hover {
  border: 1px solid black;
}

.tickerSearch::webkit-input-placeholder {
  font-family: "Julius Sans One", sans-serif;
}

.fbox {
  height: 70px;
  width: 300px;
  position: absolute;
  background: pink;
  border-radius: 2px;
  opacity: 0.25;
  top: 130px;
  left: 400px;
}
/* RIGHT */
.right {
  width: 40vw;
  padding: 15px 25px;
  background: white;
}

#composition,
#holdings {
  margin: 0;
  border-bottom: 2px solid black;
}

.holdings {
  height: 36vh;
  overflow: scroll;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}

.subtotals {
  padding: 10px 0 10px 0;
  /* border-bottom: 2px solid black; */
  border-top: 2px solid black;
}

.bottom-right {
  /* width: 50%; */
}

.subtotal,
.total,
.bottom-right {
  display: flex;
  justify-content: space-between;
  /* width: 50%; */
}

.amount {
  margin: 0;
}

.subtotal h3,
.taxes h3,
.total h3 {
  margin: 0;
}

.summary {
  /* position: relative;
  bottom: 43px; */
  border-collapse: collapse;
  overflow: scroll;
  width: 100%;
}

.summary tr th {
  margin: 0 20px 0 0;
  /* text-decoration: underline; */
  /* border-bottom: 1px solid black; */
  text-align: right;
  font-size: 10px;
  text-decoration: none;
}

/* #total-holdings {
  border-right: 1px solid black;
  border-left: 1px solid black;
} */
/* 
th,
td {
  padding-left: 5px;
  padding-right: 5px;
} */
#stock-heading,
#td1 {
  text-align: center;
}

#td2,
#td3 {
  text-align: right;
}
